<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>listupdate</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <form [formGroup]="formUpdate" (ngSubmit)="onUpdate()">
      <div>
        <ion-card>
          <ion-item>
            <ion-label position="fixed">key</ion-label>
            <ion-input type="text"formControlName="key"readonly ></ion-input>
          </ion-item>
        </ion-card>
      </div>

      <div>
        <ion-card>
          <ion-item>
            <ion-label position="fixed">Humididy</ion-label>
            <ion-input type="text"formControlName="Humididy"></ion-input>
          </ion-item>
        </ion-card>
      </div>

      <div>
        <ion-card>
          <ion-item>
            <ion-label position="fixed">Temperature</ion-label>
            <ion-input type="text"formControlName="Temperature"></ion-input>
          </ion-item>
        </ion-card>
      </div>

      <div>
        <ion-card>
          <ion-item>
            <ion-label position="fixed">time</ion-label>
            <ion-input type="text"formControlName="time"></ion-input>
          </ion-item>
        </ion-card>
      </div>
      <ion-button color="primary" type="submit">ตกลง</ion-button>
    </form>
  </div>
</ion-content>
