<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon
        name="arrow-back"
        style="font-size: 25px;margin-left: 15px"
        [routerLink]="['/list']"
        routerLinkActive="root"
      ></ion-icon>
    </ion-buttons>
    <ion-title>listupdate</ion-title>
    <ion-buttons slot="end">
      <ion-icon
        name="add-circle"
        style="font-size: 25px;margin-right: 15px"
      ></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <form [formGroup]="formUpdate" (ngSubmit)="onUpdate()">
      <div>
        <ion-card>
          <ion-item>
            <ion-label position="fixed">key</ion-label>
            <ion-input type="text" formControlName="key" readonly></ion-input>
          </ion-item>
        </ion-card>
      </div>

      <div>
        <ion-card>
          <ion-item>
            <ion-label position="fixed">Humididy</ion-label>
            <ion-input type="text" formControlName="Humididy"></ion-input>
          </ion-item>
        </ion-card>
      </div>

      <div>
        <ion-card>
          <ion-item>
            <ion-label position="fixed">Temperature</ion-label>
            <ion-input type="text" formControlName="Temperature"></ion-input>
          </ion-item>
        </ion-card>
      </div>

      <div>
        <ion-card>
          <ion-item>
            <ion-label position="fixed">time</ion-label>
            <ion-input type="text" formControlName="time"></ion-input>
          </ion-item>
        </ion-card>
      </div>
      <ion-button color="primary" type="submit">ตกลง</ion-button>
    </form>
  </div>
</ion-content>
