<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="dataDht" class="text-center">
    <div>
      <ngx-gauge
        type="arch"
        [value]="dataDht.Temperature"
        value="30"
        label="Temperature"
        append="°C"
        [thick]="screenDisplay.thick"
        cap="round"
        [thresholds]="thresholdConfig"
        [size]="screenDisplay.width"
      >
      </ngx-gauge>
    </div>

    <div>
      <ngx-gauge
        type="arch"
        [value]="dataDht.Humidity"
        value="30"
        label="Humidity"
        append="%"
        [thick]="screenDisplay.thick"
        cap="round"
        [thresholds]="thresholdConfig"
        [size]="screenDisplay.width"
      >
      </ngx-gauge>
    </div>
    <ion-toggle
      color="warning"
      [(ngModel)]="sw_toggle"
      (ionChange)="sw_onChange()"
      style="--background:rgb(47, 0, 255);"
    ></ion-toggle>
  </div>
</ion-content>
